.total-container
    width: 100%
    font-size: 24px
    +flex-center

    p
        width: 100%
        text-align: center
        margin: 12px
        font-weight: 600

    .equivale
        margin: 0
        font-size: 18px
        font-weight: 400